---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404" description="Lorem ipsum dolor sit amet">
  <section class="bg-slate-50">
    <div class="md:container md:mx-auto px-4 py-10">
      <h1 class="text-lg">Custom 404 page</h1>
    </div>
  </section>
</Layout>
