---
// code fences
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

---

<form class="inline-block">
  <button
    class="p-2"
  >
    <slot />
  </button>
</form>
