---
import Layout from "../../layouts/Layout.astro";
import I18n from "../../i18n";
const i18n = new I18n(Astro.currentLocale);
const translations = i18n.getTranslations();
---

<Layout title="About" description="Lorem ipsum dolor sit amet">
  <section class="bg-slate-50">
    <div class="md:container md:mx-auto px-4 py-10">
      <h1 class="text-lg">{translations.strings.about.title}</h1>
    </div>
  </section>
</Layout>
