---
import Layout from "../../layouts/Layout.astro";
import I18n from "../../i18n";
const i18n = new I18n(Astro.currentLocale);
---

<Layout
  title={i18n.t("strings.about.title")}
  description="Lorem ipsum dolor sit amet"
  i18n={i18n}
>
  <section class="bg-slate-50">
    <div class="md:container md:mx-auto px-4 py-10">
      <h1 class="text-lg">{i18n.t("strings.about.title")}</h1>
    </div>
  </section>
</Layout>
