---
// code fences
import Layout from "../../layouts/Layout.astro";
import Counter from "../../components/Counter";
import I18n from "../../i18n";
const i18n = new I18n(Astro.currentLocale);
const someProps = {
  count: 0,
};

// string interpolation example
const today = new Date().toString();
const hi = i18n.t("strings.index.hi", {
  username: "John",
  today,
});
---

<Layout
  title={i18n.t("strings.index.title")}
  description="Lorem ipsum dolor sit amet"
  i18n={i18n}
>
  <section class="bg-slate-50">
    <div class="md:container md:mx-auto px-4">
      <h1>{hi}</h1>

      <h2 class="text-lg mt-10">{i18n.t("strings.index.counter")}</h2>

      <p class="mt-10">
        {i18n.t("strings.index.text1")}
      </p>
      <Counter {...someProps} client:load />

      <p class="mt-10">
        {i18n.t("strings.index.text2")}
      </p>
      <Counter {...someProps} client:visible />
    </div>
  </section>
</Layout>
