---
// code fences
import Layout from "../../layouts/Layout.astro";
import SigninForm from "../../components/SigninForm";
import I18n from "../../i18n";
const i18n = new I18n(Astro.currentLocale);
const componentTranslations = i18n.t("strings.signin.component");
---

<Layout
  title={i18n.t("strings.signin.title")}
  description="Lorem ipsum dolor sit amet"
  i18n={i18n}
>
  <section class="h-[calc(100vh-40px)] bg-slate-50">
    <div class="md:container md:mx-auto px-4 py-10">
      <div class="grid justify-center">
        <div class="sm:w-[500px]">
          <h1 class="text-lg">{i18n.t("strings.signin.title")}</h1>
          <SigninForm
            locale={i18n.locale}
            translations={componentTranslations}
            client:load
          />
        </div>
      </div>
    </div>
  </section></Layout
>
