---
// code fences
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

const { title, description, i18n } = Astro.props;
---

<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Header i18n={i18n} />
    <slot />
    <Footer i18n={i18n} />
  </body>
</html>
